@media (max-width: 1200px) {
    .container {
        padding: 0 15px;
    }
    .contacts {
        flex-direction: column;
        &__btn {
            margin-top: 10px;
        }
    }
    .main {
        &__title {
            font-size: 60px;
        }
        &__subtitle {
            font-size: 34px;
        }
        &__description {
            margin-top: 20px;
        }
    }
    .menu_item {
        padding: 0px 11px;
    }
    .agent__descr {
        max-width: 830px;
    }
    .prices__item {
        margin: 0 5px;
    }
}
@media (max-width: 991px) {
    .contacts {
        align-items: flex-end;
        &__connection {
            margin-right: 0;
        }
        &__phone {
            font-size: 16px;
        }
        &__btn {
            font-size: 11px;
            width: 128px;
            height: 36px;
        }
    }
    .menu_item {
        padding: 0 5px;
        font-size: 12px;
    }
    .main {
        &__description {
            font-size: 18px;
            margin-bottom: 10px;
        }
        &__title {
            font-size: 40px;
        }
        &__subtitle {
            font-size: 22px;
        }
        &__btn {
            font-size: 13px;
            padding: 16px 34px;
        }
    }
    .header__logo {
        padding-right: 10px;
    }
    .prices__descr_central {
        font-size: 24px;
    }
    .prices__btn {
        width: 137px;
        height: 36px;
    }
    .reviews .slick-next {
        left: 60%;
    }
    .reviews .slick-prev {
        left: 37%;
    }
    .reviews .slick-center .reviews__descr {
        font-size: 12px;
        line-height: 18px;
    }
    .communication-form {
        padding: 10% 5% 10% 5%;
    }
    .communication-form__form-wrapper {
        padding: 28px 30px 25px 30px;
    }
    .consultation__wrapper {
        padding: 0 2%;
    }
    .overlay_modal {
        width: 85%;
    }
    #modal {
        .consultation__subtitle {
            font-size: 22px;
        }
        .img-avatar {
            margin: 0 auto 0 auto;
        }
    }
}
@media (max-width: 767px) {
    .header {
        flex-wrap: wrap;
    }
    .contacts {
        flex-direction: row;
        align-items: center;
        margin: 0 auto;
        &__connection {
            margin-right: 19px;
        }
    }
    .menu_item {
        padding: 0 4px;
    }
    .main {
        padding: 23px 10px 50px 10px;
        &__title {
            font-size: 33px;
        }
        &__subtitle {
            font-size: 19px;
        }
        &__functions_descr {
            font-size: 12px;
        }
    }
    .title {
        font-size: 21px;
    }
    .official-descr {
        font-size: 17px;
    }
    .work__descr_text {
        line-height: 18px;
    }
    .prices__blocks {
        flex-wrap: wrap;
        justify-content: center;
    }
    .prices__descr_bottom {
        max-width: 205px;
        margin: 0 10px 25px 10px;
    }
    .prices__item {
        margin: 0 10px 20px 10px;
    }
    .reviews {
        padding: 51px 15px 65px 15px;
    }
    .reviews .slick-next {
        left: 66%;
    }
    .reviews .slick-prev {
        left: 31%;
    }
    .communication-form__form-wrapper {
        padding: 28px 10px 25px 10px;
    }
    .feed-form input {
        padding-left: 15px;
    }
    .overlay_modal {
        width: 92%;
    }
    #modal {
        .feed-form input {
            font-size: 11px;
            padding-left: 10px;
            height: 34px;
        }
        .consultation__btn {
            padding: 13px 31px;
        }
        .consultation__wrapper-btn {
            top: 134px;
        }
    }
    .footer__website-creation, .footer__year {
        font-size: 11px;
    }
   
}
@media (max-width: 575px) {
    .menu {
		position: fixed;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		top: 0;
		left: -100%;
		width: 50%;
		height: 100vh;
		padding: 20px 15px;
		background-color: rgba(0,0,0, .8);
        transition: 0.6s all;
		&_active {
            left: 0;
        }
		&_item {
			padding-right: 0;
			border: none;
            margin: 10px 0;
        }
		&_link {
            font-size: 20px;
        }
    }
	.hamburger {
		display: block;
		position: absolute;
		right: 10px;
        top: 5px;
		width: 26px;
		height: 12px;
		span {
			display: block;
			height: 2px;
			width: 100%;
			background-color: #fff;
			margin-bottom: 2px;
            transition: 0.5s all;
        }
		&_active {
			span {
				margin-bottom: -2px;
				&:nth-child(1) {
                    transform: translateY(3px) rotate(-45deg);
                }
				&:nth-child(2) {
                    display: none;
                }
				&:nth-child(3) {
                    transform: translateY(3px) rotate(45deg);
                }
            }
        }
    }
    .contacts {
        flex-direction: column;
        margin: 0;
    }
    .header {
        justify-content: center;
    }
    .main {
        &__title {
            font-size: 24px;
        }
        &__subtitle {
            font-size: 15px;
        }
        &__description {
            font-size: 14px;
        }
    }
    .advantages__item {
        max-width: 100%;
    }
    .title {
        font-size: 16px;
    }
    .official-descr {
        font-size: 15px;
    }
    .work {
        padding: 29px 0 0 0;
        &__blocks {
            display: block;
        }
        &__descr_text {
            max-width: 100%;
        }
        &__img {
            margin-bottom: 10px;
        }
        &__item {
            margin-bottom: 30px;
        }
    }
    .consultation {
        &__subtitle {
            font-size: 22px;
        }
        &__wrapper {
            flex-direction: column;
            align-items: center;
            margin: 70px 0 43px 0;
            z-index: 10;
        }
        &__wrapper-btn {
            position: absolute;
            top: 252px;
        }
    }
    .feed-form input {
        width: 60%;
        margin-bottom: 10px;
    }
    .reviews .slick-next {
        left: 72%;
    }
    .reviews .slick-prev {
        left: 22%;
    }
    .feed-form input {
        width: 100%;
    }
    .footer {
        .contacts {
            flex-direction: row;
            margin: 0 auto;
        }
    }
}

@media (max-width: 425px) {
    .main__functions {
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer__wrapper_bottom {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .footer__confidentiality {
        margin-left: 0;
        margin-top: 10px;
        order: 3;
    }
    .footer__website-creation {
        order: 2;
    }
    .hamburger {
        right: -5px;
        top: -8px;
    }
    .menu {
        width: 76%;
    }
}

