@import 'libs/fonts';

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1150px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

@import 'blocks/main';
@import 'blocks/header';
@import 'blocks/menu';
@import 'blocks/buttons';
@import 'blocks/titles';
@import 'blocks/official-descr';
@import 'blocks/advantages';
@import 'blocks/line';
@import 'blocks/work';
@import 'blocks/img-avatar';
@import 'blocks/agent';
@import 'blocks/prices';
@import 'blocks/cunsultation';
@import 'blocks/form';
@import 'blocks/managers';
@import 'blocks/scheme';