.agent {
    padding: 58px 0 75px 0;
    background: url('../../img/bg/wall.jpg') center (center / cover) no-repeat;
    &__img {
        border: solid 1px #ffffff;
        border-radius: 100%;
        width: 102px;
        height: 102px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 20px auto;
        img {
            padding-bottom: 10px;
        }
    }
    &__title {
        color: #fff;
        margin-bottom: 22px;
    }
    &__descr {
        font-size: 19px;
        font-weight: 300;
        text-align: center;
        color: #ffffff;
        max-width: 984px;
        display: block;
        margin: 0 auto;
        line-height: 28px;
    }
}