.agent {
    padding: 58px 0 75px 0;
    background: url('../../img/bg/wall.jpg') center (center / cover) no-repeat;
    &__title {
        color: #fff;
        margin-bottom: 22px;
    }
    &__descr {
        font-size: 19px;
        font-weight: 300;
        text-align: center;
        color: #ffffff;
        max-width: 984px;
        display: block;
        margin: 0 auto;
        line-height: 28px;
    }
    img {
        padding-bottom: 10px;
    }
}