.communication-form {
    padding: 62px 0 79px 0;
    background: url(../img/bg/airplane_down.jpg) center center / cover no-repeat;
    &__wrapper {
        max-width: 896px;
        margin: 0 auto;
    }
    &__title {
        padding-top: 20px;
        font-size: 19px;
        font-weight: 400;
        color: #ffffff;
        text-align: center;
        text-transform: uppercase;
    }
    &__title-wrapper {
        background-color: #25333c;
        z-index: 5;
    }
    &__subtitle {
        font-size: 14px;
        text-align: center;
        color: #ffffff;
        padding-bottom: 19px;
    }
    &__form-wrapper {
        background-color: RGB(255,255,255, 0.6);
        padding: 28px 36px 25px 36px;
    }
    .feed-form {
        border: none;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        &__message {
            width: 100%;
            margin-top: 8px;
            height: 71px;
            border-radius: 8px;
            padding: 18px 25px;
        }
    }
    &__button {
        margin: 25px auto 0 auto;
        font-size: 12px;
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
        padding: 18px 31px;
    }
    label#name-error {
        color: red;
        position: absolute;
        top: -20px;
        left: 30px;
        font-size: 14px;
    }
    label#phone-error {
        color: red;
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 14px;
    }
    label#email-error {
        color: red;
        position: absolute;
        top: -20px;
        right: 34px;
        font-size: 14px;
    }
    label#message-error {
        color: red;
        position: absolute;
        font-size: 14px;
        top: 130px;
        left: 30px;
    }


}