.consultation {
    padding: 28px 0 58px 0;
    position: relative;
    &__subtitle {
        font-size: 28px;
        text-align: center;
        color: #3a3a3a;
        margin-bottom: 71px;
    }
    &__avatar {
        border: solid 1px #e93b3b;
    }
    &__wrapper-img {
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        top: 80px;
        background-color: #fff;
        z-index: 5;
        padding: 0 10px;
    }
    &__wrapper {
        margin: 68px 0 53px 0;
    }
    &__btn {
        padding: 18px 31px;
    }
    &__wrapper-btn {
        position: absolute;
        top: 143px;
        background-color: #fff;
        padding: 0 10px;
    }
}