.img-avatar {
    border: solid 1px #ffffff;
    border-radius: 100%;
    width: 102px;
    height: 102px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px auto;
}