.main {
    padding: 23px 10px 82px 10px;
    background: url('../../img/bg/airplane.jpg')  center (center / cover) no-repeat;
    &__description {
        font-size: 24px;
        font-weight: 300;
        color: #ffffff;
        text-align: center;
        margin-bottom: 26px;
    }
    &__title {
        font-family: RobotoCondensed;
        font-size: 72px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ec644b;
        text-align: center;
        margin-bottom: 9px;
    }
    &__subtitle {
        font-size: 42px;
        font-stretch: condensed;
        text-align: center;
        color: #ffffff;
        margin-bottom: 38px;
    }
    &__delimiter {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 27px;
        &_line {
            width: 397px;
            height: 1px;
            background-color: #fff;
        }
        &_point {
            width: 10px;
            height: 10px;
            background-color: #fff;
            border-radius: 100%;
            top: -4px;
            margin: 0 10px;
        }
    }
    &__functions {
        display: flex;
        justify-content: space-between;
        margin-bottom: 39px;
        &_img {
            min-height: 63px;
            margin-bottom: 16px;
            img {
                display: block;
                margin: 0 auto;
            }
        }
        &_descr {
            text-align: center;
            max-width: 260px;
            font-size: 16px;
            font-weight: 300;
            color: #ffffff;
            padding: 0 5px;
        }
    }
    &__btn {
        font-size: 15px;
        font-weight: 400;
        text-align: center;
        color: #ffffff;
        padding: 23px 45px;
        border-radius: 40px;
        margin: 0 auto;
        display: block;
    }
}
